<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="@{${pageTitle}}"></title>

	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0"
		id="viewport" name="viewport">
</head>

<body>

	<div class="container-fluid px-0">
		<!-- px-lg-4 -->
		<div layout:fragment="content">
			<p>Error</p>
		</div>
	</div>

</body>

</html>