<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<head>

	<script type="text/javascript" src="/scripts/index.js"></script>
	<script>

	</script>
</head>

<body layout:fragment="content">
	<h1>content here</h1>

	<p th:text="${name}"></p>
</body>

</html>